<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Django</title>
</head>
<body>
    <header>
        <h1><a href="/">Blog Django</a></h1>
    </header>

    <article>
        <p>Publicado em: </p>
        <h2><a href="#">Meu primeiro post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum itaque dicta quia, eligendi delectus nisi veniam saepe a, optio enim obcaecati sint corporis repudiandae odit sequi provident iure cupiditate. Magnam.</p>
    </article>

    <article>
        <p>Publicado em: </p>
        <h2><a href="#">Meu segundo post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis consequuntur nesciunt est non saepe fuga nam ratione, corporis molestias eius ullam, quia, quisquam ipsam totam quas maxime! Incidunt, iure.</p>
    </article>
</body>
</html>